<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Holler</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container" id="main-container">

    <div class="row">
      <h1>Hollers</h1>
      <ul id = "hollers">
      {{#hollers}}
        <li>{{content}}</li>
      {{/hollers}}
      </ul>
    </div>

  </div><!-- /.container -->
<script type = "text/javascript">
setInterval(function() {
  $.getJSON("/hollers", function(data){
    var arr = data["hollers"];
    $("#hollers").html("");
    $.each(arr, function(i, val){
      $("#hollers").append("<li>"+arr[i].content+"</li>");
    });
  })
  }, 1000 * 5); // where X is your every X minutes
</script>
</body>
</html>
